.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  margin-right: 50px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
}

.navbar-section-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.navbar-section-title {
  color: white;
  font-size: 14px;
  margin-left: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 700;
}

.navbar-link-container {
  width: 100%;
  height: 30px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  padding: 1px 6px;
  border-radius: 8px;
  text-decoration: none;
}

.navbar-link-container--active {
  background-color: #18181b;
}

.navbar-link-container--active .navbar-link {
  color: white;
}

.navbar-link {
  color: #a1a1aa;
  transition: color 0.2s ease;
  font-size: 14px;
}

.navbar-link-container:hover {
  background-color: #18181b;
}

.navbar-link-container:hover .navbar-link {
  color: white;
}

.navbar-container-activator {
  display: none;
}

.close-navbar-container {
  display: none;
}

@media (max-width: 720px) {
  .navbar-container {
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    margin-right: 5px;
  }

  .navbar-container--active {
    width: 97vw;
  }

  .navbar-container-activator {
    display: block;
  }

  .navbar-container-activator--hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  .mini-tab {
    width: 20px;
    height: 5%;
    background: transparent;
    border: 2px solid white;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 47.5%;
    transition: transform 0.3s ease-in-out;
  }

  .mini-tab:hover {
    background-color: #18181b;
  }

  .navbar-container-activator--hidden .mini-tab {
    transform: translateX(-100%);
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-left: 6px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  .close-navbar-arrow {
    filter: invert(1);
    transform: rotate(180deg);
    margin-right: 6vw;
  }

  .close-navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: -20px;
  }
}
